RUST_LOG=scalliony_server=debug,tower_http=debug
# pick a random string... AUTH_JWT_SECRET=xxxxxx
AUTH_PROVIDERS=github
AUTH_GITHUB_CLIENT_ID=xxxxxx
AUTH_GITHUB_CLIENT_SECRET=xxxxxx
# AUTH_BASE_URL=http://localhost:3000/auth
ASSETS_DIR=../client/dist

# WASMTIME_CONFIG=wasmtime/config.toml
WASMTIME_BACKTRACE_DETAILS=1
